# Variable in Python

In [ ]:
a = 786 # Integer
b = 3.142 # Float
c = "Zahid Shaikh" # String
d = 3+4j # Complex Number
e = True # Boolean

print(f"{a} is an {type(a)}")
print(f"{b} is a {type(b)}")
print(f"{c} is a {type(c)}")
print(f"{d} is a {type(d)}")
print(f"{e} is a {type(e)}")

786 is an <class 'int'>
3.142 is a <class 'float'>
Zahid Shaikh is a <class 'str'>
(3+4j) is a <class 'complex'>
True is a <class 'bool'>

# Operators
# Arithmetic Operators

In [ ]:
a = 7
b = 2
# Addition: +
addition = a + b
print(f"Addition of {a} and {b} is {addition}")
print('-' * 50)
# Substraction: -
substraction = a - b
print(f"Substraction of {a} and {b} is {substraction}")
print('-' * 50)
# Multiplication: *
multiplication = a * b
print(f"Multiplication of {a} and {b} is {multiplication}")
print('-' * 50)
# Division: / (Float)
division = a / b
print(f"Division of {a} and {b} is {division}")
print('-' * 50)
# Integer Division: //
integer_division = a // b
print(f"Integer Division of {a} and {b} is {integer_division}")
print('-' * 50)
# Modules: % (Remainder)
modules = a % b
print(f"Modules of {a} and {b} is {modules}")
print('-' * 50)
# Exponentiation: **
exponentition = a ** b
print(f"Exponentition of {a} and {b} is {exponentition}")
print('-' * 50)

Addition of 7 and 2 is 9
--------------------------------------------------
Substraction of 7 and 2 is 5
--------------------------------------------------
Multiplication of 7 and 2 is 14
--------------------------------------------------
Division of 7 and 2 is 3.5
--------------------------------------------------
Integer Division of 7 and 2 is 3
--------------------------------------------------
Modules of 7 and 2 is 1
--------------------------------------------------
Exponentition of 7 and 2 is 49
--------------------------------------------------

# Comparision(Relational) Operators

In [ ]:
a = 7
b = 2
c = 7
# Equal to: ==
print(f"Is {a} equal to {b}? {a == b}")
print(f"Is {a} equal to {c}? {a == c}")
print('-' * 50)
# Not equal to: !=
print(f"Is {a} not equal to {b}? {a != b}")
print(f"Is {a} not equal to {c}? {a != c}")
print('-' * 50)
# Greater than: >
print(f"Is {a} greater than {b}? {a > b}")
print(f"Is {a} greater than {c}? {a > c}")
print('-' * 50)
# Less than: <
print(f"Is {a} less than {b}? {a < b}")
print(f"Is {a} less than {c}? {a < c}")
print('-' * 50)
# Greater than or equal to: >=
print(f"Is {a} greater than or equal to {b}? {a >= b}")
print(f"Is {a} greater than or equal to {c}? {a >= c}")
print('-' * 50)
# Less than or equal to: <=
print(f"Is {a} less than or equal to {b}? {a <= b}")
print(f"Is {a} less than or equal to {c}? {a <= c}")
print('-' * 50)

Is 7 equal to 2? False
Is 7 equal to 7? True
--------------------------------------------------
Is 7 not equal to 2? True
Is 7 not equal to 7? False
--------------------------------------------------
Is 7 greater than 2? True
Is 7 greater than 7? False
--------------------------------------------------
Is 7 less than 2? False
Is 7 less than 7? False
--------------------------------------------------
Is 7 greater than or equal to 2? True
Is 7 greater than or equal to 7? True
--------------------------------------------------
Is 7 less than or equal to 2? False
Is 7 less than or equal to 7? True
--------------------------------------------------

# Logical Operators

In [ ]:
a = 7
b = 2
c = 7
# and: 	True if both are True
print(f"Is {a} and {b} equal to c? {a and b == c}")
print('-' * 50)
# or: 	True if any one is True
print(f"Is {a} or {b} equal to c? {a or b == c}")
print('-' * 50)
# not: Reverses boolean
print(f"Is {a} not equal to c? {not a == c}")
print('-' * 50)

Is 7 and 2 equal to c? False
--------------------------------------------------
Is 7 or 2 equal to c? 7
--------------------------------------------------
Is 7 not equal to c? False
--------------------------------------------------

# Assignment Operator

In [ ]:
#	Assign: =
x = 7
print(f"x is {x}")
print('-' * 50)
# Add and assign: +=
x += 4
print(f"x is {x}")
print('-' * 50)
# Subtract and assign: -=
x -= 2
print(f"x is {x}")
print('-' * 50)
# Multiply and assign: *=
x *= 2
print(f"x is {x}")
print('-' * 50)
# Divide and assign: /=
x /= 2
print(f"x is {x}")
print('-' * 50)
# Floor divide and assign: //=
print(f"x is {x}")
print('-' * 50)
# Modulus and assign: %=
x %= 2
print(f"x is {x}")
print('-' * 50)
# Power and assign: **=
x **= 2
print(f"x is {x}")
print('-' * 50)

x is 7
--------------------------------------------------
x is 11
--------------------------------------------------
x is 9
--------------------------------------------------
x is 18
--------------------------------------------------
x is 9.0
--------------------------------------------------
x is 9.0
--------------------------------------------------
x is 1.0
--------------------------------------------------
x is 1.0
--------------------------------------------------

# Control Structure (if, elif, else)
# if statement

In [ ]:
a = 20
b = 10
if a > b:
  print(f"{a} is greater than {b}")

20 is greater than 10

# elif Statement

In [ ]:
a = 10
b = 20
if a > b:
  print(f"{a} is greater than {b}")
elif b > a:
  print(f"{a} is not greater than {b}")

10 is not greater than 20

# else Statement

In [ ]:
a = 10
b = 20
if a > b:
  print(f"{a} is greater than {b}")
else:
  print(f"{a} is not greater than {b}")

10 is not greater than 20

# Nested if Statement

In [ ]:
a = 10
b = 10
if a > b:
  print(f"{a} is greater than {b}")
else:
  if b > a:
    print(f"{a} is not greater than {b}")
  else:
    print(f"{a} is equal to {b}")

10 is equal to 10

# Loop
# for Loop

In [ ]:
for i in range(11,1,-2):
  print(i)

11
9
7
5
3

# while Loop

In [ ]:
a = 3
while a > 0:
  print(a)
  a -= 1

3
2
1

# break statement

In [ ]:
a = 12
while True:
  print(a)
  a -= 4
  if a == 0:
    break

12
8
4

# continue statement

In [ ]:
for i in range(1,8):
  if i == 3 or i == 6:
    continue
  print(i)

1
2
4
5
7

# Problems
1. Swap Two Numbers Without Using a Temporary Variable - Easy

In [ ]:
a = 10
b = 5
print(f"a is {a}")
print(f"b is {b}")
print('-' * 25)
a, b = b, a
print(f"Now a is {a}")
print(f"Now b is {b}")

a is 10
b is 5
-------------------------
Now a is 5
Now b is 10

2. Check Even or Odd Number - Easy

In [ ]:
num = int(input("Enter a number: "))

if num % 2 == 0:
  print(f"{num} is an Even Number")
else:
  print(f"{num} is a Odd Number")

Enter a number: 912367
912367 is a Odd Number

3. Sum of First N Natural Numbers - Easy

In [ ]:
num = int(input("Enter a number: "))
sums = 0

for i in range(num+1):
  sums += i
print(f"Sum of {i} numbers = {sums}")

Enter a number: 4
Sum of 4 numbers = 10

4. Find the Largest of Three Numbers - Medium

In [ ]:
a = int(input("Enter 1st number = "))
b = int(input("Enter 2nd number = "))
c = int(input("Enter 3rd number = "))

if a > b and a > c:
  print(f"Largest Number among {a}, {b}, {c} is {a}")
elif b > a and b > c:
  print(f"Largest Number among {a}, {b}, {c} is {b}")
else:
  print(f"Largest Number among {a}, {b}, {c} is {c}")

Enter 1st number = 7
Enter 2nd number = 2
Enter 3rd number = 5
Largest Number among 7, 2, 5 is 7

In [ ]:
a = int(input("Enter 1st number = "))
b = int(input("Enter 2nd number = "))
c = int(input("Enter 3rd number = "))

if a > b:
  if a > c:
    print(f"Largest Number among {a}, {b}, {c} is {a}")
elif b > a:
  if b > c:
    print(f"Largest Number among {a}, {b}, {c} is {b}")
  else:
    print(f"Largest Number among {a}, {b}, {c} is {c}")

Enter 1st number = 445
Enter 2nd number = 9723
Enter 3rd number = 97861
Largest Number among 445, 9723, 97861 is 97861

5. Print a Pattern - Medium

In [ ]:
n = int(input("Enter a number: "))
for i in range(n):
  print('*' * n)

Enter a number: 5
*****
****
***
**
*

In [ ]:
n = int(input("Enter a number: "))
for i in range(1, n+1):
  print('*' * i)

Enter a number: 5
*
**
***
****
*****

6. Check if a Number is Prime - Hard

In [ ]:
n = int(input("Enter a number: "))

flag = False

if n == 0 or n == 1:
  print(f"{n} is not a prime number")
elif n > 1:
  for i in range(2, n):
    if n % i == 0:
      flag = True
      break

  if flag:
    print(f"{n} is not a prime number")
  else:
    print(f"{n} is a prime number")

Enter a number: 3
3 is a prime number

7. Find the Factorial of a Number Using Iteration - Hard

In [ ]:
n = int(input("Enter a number: "))
fact = 1

for i in range(1, n+1):
  fact *= i

print(fact)

Enter a number: 5
120

8. Count Vowels and Consonants in a String - Hard

In [ ]:
string = "aabcdeee"
a = 0
e = 0
i = 0
o = 0
u = 0

for j in range(len(string)):
  if string[j] == "a":
    a += 1
  elif string[j] == "e":
    e += 1
  elif string[j] == "i":
    i += 1
  elif string[j] == "o":
    o += 1
  elif string[j] == "u":
    u += 1

print(f"a = {a}")
print(f"e = {e}")
print(f"i = {i}")
print(f"o = {o}")
print(f"u = {u}")

a = 2
e = 3
i = 0
o = 0
u = 0

9. Check if a String is a Palindrome - Hard

In [ ]:
string = 'Malyaylam'
string = string.lower()

if string == string[::-1]:
  print(f"{string} is a palindrome")
else:
  print(f"{string} is not a palindrome")

malyaylam is a palindrome

10. Simple Login System - Hard

In [ ]:
username = input("Enter your username--> ")
password = input("Enter your password--> ")

user = "test"
pwd = "Test@123"

tries = 3

while tries > 0:
  if username == user and password == pwd:
    print("Login Succesful!")
    break
  elif username != user or password != pwd:
    tries -= 1
    print(f"Login Failed! {tries} tries left")

    if tries == 0:
      print("Account Locked!")
      break

    username = input("Enter your username--> ")
    password = input("Enter your password--> ")

Enter your username--> test
Enter your password--> Test@123
Login Succesful!

# Data Structures

# List

In [ ]:
my_list = [10,20,50,70,50,60,70] # Creating List

print("Data Type: ", type(my_list))

print('-' * 100)

print("Length of list: ", len(my_list)) # Length of list

print("Maximum value in list: ", max(my_list)) # Maximum value in list

print("Minimum value in list: ", min(my_list)) # Minimum value in list

print('-' * 100)

print("First Variable: ", my_list[0])    # First element of list = 10
print("Last Variable: ", my_list[-1])   # Last element of list = 50

print('-' * 100)

print("Slicing elements: ", my_list[0:3]) # Slicing list elements

print("Slicing every 2nd elements: ", my_list[::2]) # Slicing every 2nd elements

print("Slicing every 2nd elements in reverse order: ", my_list[::-2]) # Slicing every 2nd elements in reverse order

print('-' * 100)

my_list.append(80) # Append element at the end of the list
print("Inserted 80 at the end of list: ", my_list)

my_list.insert(2, 90) # Insert element at a specific index
print("Inserted 90 at index 2: ", my_list)

print('-' * 100)

my_list.remove(50)
print("Removed 50 from the list: ", my_list) # Remove first occurrence of 50

my_list.pop()
print("Removed last element from the list: ", my_list) # Remove last element from list

print('-' * 100)

my_list.sort()
print("Sorted list: ", my_list) # Sort list in ascending order

my_list.reverse()
print("Reversed list: ", my_list) # Reverse list

print('-' * 100)

print("Count of 70 in the list: ", my_list.count(70)) # Count occurrences of an element

print("Index of 60 in the list: ", my_list.index(60)) # Find index of an element

print('-' * 100)

my_list.clear()
print("Cleared list: ", my_list) # Empty List

Data Type:  <class 'list'>
----------------------------------------------------------------------------------------------------
Length of list:  7
Maximum value in list:  70
Minimum value in list:  10
----------------------------------------------------------------------------------------------------
First Variable:  10
Last Variable:  70
----------------------------------------------------------------------------------------------------
Slicing elements:  [10, 20, 50]
Slicing every 2nd elements:  [10, 50, 50, 70]
Slicing every 2nd elements in reverse order:  [70, 50, 50, 10]
----------------------------------------------------------------------------------------------------
Inserted 80 at the end of list:  [10, 20, 50, 70, 50, 60, 70, 80]
Inserted 90 at index 2:  [10, 20, 90, 50, 70, 50, 60, 70, 80]
----------------------------------------------------------------------------------------------------
Removed 50 from the list:  [10, 20, 90, 70, 50, 60, 70, 80]
Removed last element from the list:  [10, 20, 90, 70, 50, 60, 70]
----------------------------------------------------------------------------------------------------
Sorted list:  [10, 20, 50, 60, 70, 70, 90]
Reversed list:  [90, 70, 70, 60, 50, 20, 10]
----------------------------------------------------------------------------------------------------
Count of 70 in the list:  2
Index of 60 in the list:  3
----------------------------------------------------------------------------------------------------
Cleared list:  []

# Tuple

In [ ]:
my_tuple = (10, 20, 30, 40, 50, 20, 20) # Creating tuple
print(type(my_tuple))

print('-' * 100)

print("First Variable: ", my_tuple[0])    # First element of tuple = 10
print("Last Variable: ", my_tuple[-1])   # Last element of tuple = 50

print('-' * 100)

print("Slicing elements: ", my_tuple[0:3]) # Slicing tuple elements

print("Slicing every 2nd elements: ", my_tuple[4:0:-2]) # Slicing every 2nd elements

print('-' * 100)

print("Reversing tuple: ", my_tuple[::-1]) # Reversing tuple

print('-' * 100)

print("Length of tuple: ", len(my_tuple)) # Length of tuple

print("Maximum value in tuple: ", max(my_tuple)) # Maximum value in tuple

print("Minimum value in tuple: ", min(my_tuple)) # Minimum value in tuple

print('-' * 100)

print("Count of 20 in the list: ", my_tuple.count(20)) # Count occurrences of an element

print("Index of 20 in the list: ", my_tuple.index(20)) # Find index of an element

print('-' * 100)

tup1 = (1,2,3)
tup2 = (4,5,6,7)

print("Concatenated tuple: ", tup2 + tup1) # Concatenate tuples

print("Repeated tuple: ", tup2 * 3) # Repeat tuple

<class 'tuple'>
----------------------------------------------------------------------------------------------------
First Variable:  10
Last Variable:  20
----------------------------------------------------------------------------------------------------
Slicing elements:  (10, 20, 30)
Slicing every 2nd elements:  (50, 30)
----------------------------------------------------------------------------------------------------
Reversing tuple:  (20, 20, 50, 40, 30, 20, 10)
----------------------------------------------------------------------------------------------------
Length of tuple:  7
Maximum value in tuple:  50
Minimum value in tuple:  10
----------------------------------------------------------------------------------------------------
Count of 20 in the list:  3
Index of 20 in the list:  1
----------------------------------------------------------------------------------------------------
Concatenated tuple:  (4, 5, 6, 7, 1, 2, 3)
Repeated tuple:  (4, 5, 6, 7, 4, 5, 6, 7, 4, 5, 6, 7)

# Set

In [ ]:
my_set = {1,2,3,4,5,6,7,8,9} # Create a set
print(type(my_set))

print('-' * 100)

my_set.add(10) # Add an element
print("Element added to the set: ", my_set)

my_set.remove(5) # Remove an element
print("Element removed from the set: ", my_set)

my_set.discard(5) # Remove an element
print("Element removed from the set: ", my_set)

print('-' * 100)

print("Length of set: ", len(my_set)) # Length of set

print("Maximum value in set: ", max(my_set)) # Maximum value in set

print("Minimum value in set: ", min(my_set)) # Minimum value in set

print('-' * 100)

set2 = {11,12,13,14,15,10,1,2,7}

print("Union of two sets: ", my_set.union(set2)) # Combine sets

print("Intersection of two sets: ", my_set.intersection(set2)) # Common elements

print("Difference of set2: ", my_set.difference(set2)) # elements in my_set not in set2

print('-' * 100)

my_set.clear()
print("Cleared set: ", my_set) # Empty Set

<class 'set'>
----------------------------------------------------------------------------------------------------
Element added to the set:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Element removed from the set:  {1, 2, 3, 4, 6, 7, 8, 9, 10}
Element removed from the set:  {1, 2, 3, 4, 6, 7, 8, 9, 10}
----------------------------------------------------------------------------------------------------
Length of set:  9
Maximum value in set:  10
Minimum value in set:  1
----------------------------------------------------------------------------------------------------
Union of two sets:  {1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}
Intersection of two sets:  {1, 2, 10, 7}
Difference of set2:  {3, 4, 6, 8, 9}
----------------------------------------------------------------------------------------------------
Cleared set:  set()

# Dictionary

In [ ]:
my_dict = {
    "name": "Zahid",
    "age": 25,
    "city": "Mumbai"
} # Create a dictionary

print(type(my_dict))

print('-' * 100)

print("Keys: ", my_dict.keys()) # Get all keys

print("Values: ", my_dict.values()) # Get all values

print("Items: ", my_dict.items()) # Get all items

print('-' * 100)

print("Element fetched using key: ", my_dict.get("name")) # Get value of a key

my_dict.pop("city") # Remove a key-value pair
print("Element removed from dictionary: ",my_dict)

my_dict.update({"country": "India"}) # Add a new key-value pair
print("New element added to the dictionary: ", my_dict)

print('-' * 100)

<class 'dict'>
----------------------------------------------------------------------------------------------------
Keys:  dict_keys(['name', 'age', 'city'])
Values:  dict_values(['Zahid', 25, 'Mumbai'])
Items:  dict_items([('name', 'Zahid'), ('age', 25), ('city', 'Mumbai')])
----------------------------------------------------------------------------------------------------
Element fetched using key:  Zahid
Element removed from dictionary:  {'name': 'Zahid', 'age': 25}
New element added to the dictionary:  {'name': 'Zahid', 'age': 25, 'country': 'India'}
----------------------------------------------------------------------------------------------------

1. Create and Access List Elements - Easy

In [ ]:
list_len = int(input("Enter the len of list: "))
my_list = []
for i in range(list_len):
  list_items = input("Enter the list items: ")
  my_list.append(list_items)
print(my_list)
print(f"First Number in the list is: {my_list[0]}")
print(f"Last Number in the list is: {my_list[-1]}")

Enter the len of list: 7
Enter the list items: 1
Enter the list items: 2
Enter the list items: 3
Enter the list items: 4
Enter the list items: 5
Enter the list items: 6
Enter the list items: 7
['1', '2', '3', '4', '5', '6', '7']
First Number in the list is: 1
Last Number in the list is: 7

2. Convert a List to a Set - Easy

In [ ]:
my_list = [1,2,3,1,2,3,4,5,4]
my_set = set(my_list)
print(type(my_set))
print(my_set)

<class 'set'>
{1, 2, 3, 4, 5}

3. Tuple Unpacking - Easy

In [ ]:
my_tup = ("Zahid", 25, "Mumbai")
name, age, city = my_tup
print("Name: ", name)
print("Age: ", age)
print("City: ", city)
print(f"Hi! I am {name}. I am {age} years old. I live in {city}")

Name:  Zahid
Age:  25
City:  Mumbai
Hi! I am Zahid. I am 25 years old. I live in Mumbai

4. Reverse a List Using Slicing & for Loop - Medium

In [ ]:
my_list = [1,2,3,4,5]
print(f"Using Slicing Method: {my_list[::-1]}")

emp_list = []
for i in range(len(my_list), 0, -1):
  emp_list.append(i)
print(f"Using Loop Method: {emp_list}")

my_list.reverse()
print("Using reverse Method: ", my_list)

Using Slicing Method: [5, 4, 3, 2, 1]
Using Loop Method: [5, 4, 3, 2, 1]
Using reverse Method:  [5, 4, 3, 2, 1]

5. Count Occurrences of an Element in a List/Dictionary - Medium

In [ ]:
string1 = input("Enter String Here: ")
string1 = string1.lower()
list1 = list(string1)
set1 = set(list1)
dict1 = dict.fromkeys(set1, 0)
for i in list1:
  dict1[i] += 1
dict1

Enter String Here: jjgugkhjHGHHbhjbhYHGJHGD

{'u': 1, 'h': 8, 'g': 5, 'k': 1, 'd': 1, 'j': 5, 'y': 1, 'b': 2}

6. Intersection and Union of Sets - Medium

In [ ]:
set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = {1, 4, 3, 5, 8, 7, 11, 12}

print(f"Length of set1 = {len(set1)}")
print(f"Length of set2 = {len(set2)}")

print(f"Union of set1 and set2 = {set1.union(set2)}")
print(f"Intersection of set1 and set2 = {set1.intersection(set2)}")
print(f"Difference of set1 and set2 = {set1.difference(set2)}")

Length of set1 = 10
Length of set2 = 8
Union of set1 and set2 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
Intersection of set1 and set2 = {1, 3, 4, 5, 7, 8}
Difference of set1 and set2 = {9, 2, 10, 6}

7. Nested List Flattening - Hard

In [ ]:
nl = [[1,2,3],[4,5,6],[7,8],[9],[10]]
fl = []
for i in nl:
  for j in i:
    fl.append(j)
print(f"Nested List: {nl}")
print(f"Flatten List: {fl}")

Nested List: [[1, 2, 3], [4, 5, 6], [7, 8], [9], [10]]
Flatten List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

8. Find Pairs Summing to a Target Value - Hard

In [ ]:
t = 20
ls = [x for x in range(0, 21)]
tu = tuple(ls)
pairs = []
for i in range(len(tu)):
  for j in range(i+1, len(tu)):
    if tu[i] + tu[j] == t:
      pairs.append((tu[i], tu[j]))
print(pairs)

[(0, 20), (1, 19), (2, 18), (3, 17), (4, 16), (5, 15), (6, 14), (7, 13), (8, 12), (9, 11)]

9. Update Values Using Dictionary Comprehension

In [ ]:
data = {
    "abc": 4,
    "jgs": 5,
    "oue": 10,
    "aso": 7,
    "qwe": 5
}

new_data = {key: (value * 2 if key.startswith("a") else value) for key, value in data.items()}
new_data

{'abc': 8, 'jgs': 5, 'oue': 10, 'aso': 14, 'qwe': 5}

10. Group List of Dictionaries by a Key

In [ ]:
data = [
    {"name": "Alice", "dept": "HR"},
    {"name": "Bob", "dept": "IT"},
    {"name": "Charlie", "dept": "HR"},
    {"name": "David", "dept": "Finance"},
    {"name": "Eva", "dept": "IT"}
]

grouped = {}

for d in data:
  dept = d['dept']
  name = d['name']

  if dept not in grouped:
    grouped[dept] = []
  grouped[dept].append(name)

grouped

{'HR': ['Alice', 'Charlie'], 'IT': ['Bob', 'Eva'], 'Finance': ['David']}

# Funtions

In [ ]:
def hw():
  print("Hello World!")
hw()

Hello World!

In [ ]:
name = input("Enter you Name: ")

def hwwn(name):
  print(f"Hello {name}! Welcome to Python")

hwwn(name)

Enter you Name: Zahid
Hello Zahid! Welcome to Python

In [ ]:
def sums(*args):
  return sum(args)

sums(1,2,3,4)

10

# Pow

In [ ]:
print(2**5) # 2*2*2*2*2
print(pow(2,5)) # pow(base, exponent)
print(pow(2,5,7)) # pow(base, exponent, modulus)

32
32
4

# Round

In [ ]:
pi = 3.14159265359
print(round(pi))
print(round(pi, 2))

3
3.14

# Floor & Ceil

In [ ]:
from math import floor as fl
from math import ceil as ce

pi = 3.14159265359
print(fl(pi))
print(ce(pi))

3
4

# TypeCasting

In [ ]:
string = "ZAHID"
print(f"{string}: {type(string)}")
my_list = list(string)
print(f"{my_list}: {type(my_list)}")

print('-' * 100)

a = 0
print(f"{a}: {type(a)}")
bool_a = bool(a)
print(f"{bool_a}: {type(bool_a)}")

print('-' * 100)

b = 1.173947
print(f"{b}: {type(b)}")
int_b = int(b)
print(f"{int_b}: {type(int_b)}")

ZAHID: <class 'str'>
['Z', 'A', 'H', 'I', 'D']: <class 'list'>
----------------------------------------------------------------------------------------------------
0: <class 'int'>
False: <class 'bool'>
----------------------------------------------------------------------------------------------------
1.173947: <class 'float'>
1: <class 'int'>

11. Write a function to calculate the square of a number using the pow() function. The function should return the result as an integer. - Easy

In [ ]:
def squarenums(nums):
  return pow(nums, 2)

squarenums(5)

25

12. Create a function custom_round that accepts a floating-point number and an integer n, rounds the float to n decimal places using round(), and returns the value as a string. - Medium

In [ ]:
def crnwtcts(roundnum, integer):
  return str(round(roundnum, integer))

crnwtcts(3.14159265359,3)

'3.142'

13. Write a function that asks the user for their height in centimeters (as a string), converts it to a float, then uses math.floor() and math.ceil() to display the nearest lower and higher whole numbers in centimeters.

In [ ]:
from math import floor as fl
from math import ceil as ce
def height(incm):
  incm = float(incm)
  return fl(incm), ce(incm)

height(input("Enter your height in cm: "))

Enter your height in cm: 179.23867

(179, 180)

14. Implement a function that takes a list of floats, rounds each to the nearest integer using round(), and returns a dictionary where the keys are the original floats (as strings) and the values are the rounded integers. - Hard

In [ ]:
def func1(list1):
  bd = {}
  list2 = [round(x) for x in list1]
  bd = dict(zip(list1, list2))
  return bd

func1([11.2388, 2.9378, 3.128])

{11.2388: 11, 2.9378: 3, 3.128: 3}

In [ ]:
employees = [
    {"name": "Alice", "scores": (78, 82, 90), "active": "True"},
    {"name": "Bob", "scores": (60, 55, 58), "active": "False"},
    {"name": "Charlie", "scores": (88, 91, 94), "active": "True"},
    {"name": "Diana", "scores": (45, 50, 47), "active": "True"},
    {"name": "Evan",   "scores": (70, 65, 68), "active": "False"}
]

def average(x):
  return sum(x) / len(x)

for i in employees:
  True if i['active'] == "True" else False
  print(i['active'])

True
True
True
True
True

In [ ]:
# List of employee dictionaries
employees = [
    {"name": "Alice", "scores": (78, 82, 90), "active": "True"},
    {"name": "Bob", "scores": (60, 55, 58), "active": "False"},
    {"name": "Charlie", "scores": (88, 91, 94), "active": "True"},
    {"name": "Diana", "scores": (45, 50, 47), "active": "True"},
    {"name": "Evan",   "scores": (70, 65, 68), "active": "False"}
]

# Function to calculate average of a tuple of scores
def calculate_average(scores):
    return sum(scores) / len(scores)

# Step 1: Convert 'active' string to boolean, calculate average, and assign category
for emp in employees:
    # Convert active from string to boolean
    emp['active'] = emp['active'] == "True"

    # Calculate average score
    emp['avg'] = calculate_average(emp['scores'])

    # Assign category based on average
    if emp['avg'] >= 85:
        emp['category'] = "Excellent"
    elif emp['avg'] >= 70:
        emp['category'] = "Good"
    elif emp['avg'] >= 50:
        emp['category'] = "Average"
    else:
        emp['category'] = "Poor"

# Step 2: Group active employees by category
grouped = {}

for emp in employees:
    # Warning for very low scores
    if min(emp['scores']) < 40:
        print("Warning: Very low score detected!")
        break

    # Skip inactive employees
    if not emp['active']:
        continue

    category = emp['category']
    name = emp['name']

    # Add employee to grouped dictionary
    if category not in grouped:
        grouped[category] = []
    grouped[category].append(name)

# Step 3: Count total active employees processed
active_count = sum(1 for emp in employees if emp['active'])

# Step 4: Print results
print("Updated Employee List:")
for emp in employees:
    print(emp)

print("\nGrouped by Category (Active Employees Only):")
print(grouped)

print("\nTotal Active Employees Processed:", active_count)

Updated Employee List:
{'name': 'Alice', 'scores': (78, 82, 90), 'active': True, 'avg': 83.33333333333333, 'category': 'Good'}
{'name': 'Bob', 'scores': (60, 55, 58), 'active': False, 'avg': 57.666666666666664, 'category': 'Average'}
{'name': 'Charlie', 'scores': (88, 91, 94), 'active': True, 'avg': 91.0, 'category': 'Excellent'}
{'name': 'Diana', 'scores': (45, 50, 47), 'active': True, 'avg': 47.333333333333336, 'category': 'Poor'}
{'name': 'Evan', 'scores': (70, 65, 68), 'active': False, 'avg': 67.66666666666667, 'category': 'Average'}

Grouped by Category (Active Employees Only):
{'Good': ['Alice'], 'Excellent': ['Charlie'], 'Poor': ['Diana']}

Total Active Employees Processed: 3

# String Manipulation

In [ ]:
from os import replace
name = 'Zahid' # defining a string
print("Name: {}".format(name))

# Concatenate the string
surname = "Shaikh"
print("Full Name: {} {}".format(name, surname))

full_name = name + ' Salim ' + surname
print(f"Full Name: {full_name}") # method 2

print('-' * 100)

print("Converts to lowercase: ", full_name.lower()) # Converts to lowercase

print("Converts to uppercase: ", full_name.upper()) # Converts to uppercase

print("-" * 100)

print("Accessing a String: ", full_name[0]) # Accessing a String

print("Replacing a String: ", full_name.replace("Zahid Salim Shaikh", "Zahid Shaikh")) # Replacing Zahid Shaikh with Zahid Salim Shaikh

print("Length of the String: ", len(full_name)) # Length of string

print('-' * 100)

age = str(25)
print(f"Hello! {full_name} you are {age} years old") # String Interpolation

print('-' * 100)

print("Spliting String into Words: ", full_name.split()) # Spliting in string

fruits = "Mango, Grapes, Apple, WaterMelon"
print("Spliting String into Words: ", fruits.split(",")) # Spliting in string

fruits = " Grapes      "

print("Removes leading/trailing spaces: ", fruits.strip()) # Removes leading/trailing spaces

print('-' * 100)

full_name.find("Shaikh") # Find index of a substring
print("Find index of a substring: ", full_name.find("Shaikh"))
print("Find index of a substring: ", full_name.find("ZSS")) # Returns -1 if no value found

print("Count of a substring: ", full_name.count("a")) # Counts occurrences of substring

print('-' * 100)

print("Startswith substring: ", full_name.startswith("Za")) # Checks if string starts with substring
print("Endswith substring: ", full_name.endswith("Za")) # Checks if string ends with substring

Name: Zahid
Full Name: Zahid Shaikh
Full Name: Zahid Salim Shaikh
----------------------------------------------------------------------------------------------------
Converts to lowercase:  zahid salim shaikh
Converts to uppercase:  ZAHID SALIM SHAIKH
----------------------------------------------------------------------------------------------------
Accessing a String:  Z
Replacing a String:  Zahid Shaikh
Length of the String:  18
----------------------------------------------------------------------------------------------------
Hello! Zahid Salim Shaikh you are 25 years old
----------------------------------------------------------------------------------------------------
Spliting String into Words:  ['Zahid', 'Salim', 'Shaikh']
Spliting String into Words:  ['Mango', ' Grapes', ' Apple', ' WaterMelon']
Removes leading/trailing spaces:  Grapes
----------------------------------------------------------------------------------------------------
Find index of a substring:  12
Find index of a substring:  -1
Count of a substring:  3
----------------------------------------------------------------------------------------------------
Startswith substring:  True
Endswith substring:  False

# Lambda Functions

In [ ]:
sq = lambda x: x * x
sq(10)

100

In [ ]:
max_num = lambda x, y: max(x, y)
max_num(10, 20)

20

In [ ]:
odd_num = lambda x: x % 2 != 0
on = odd_num(10)
if on is True:
  print("Odd Number")
else:
  print("Even Number")

Even Number

# map(function, iterable)

In [ ]:
l = [1, 2, 3, 4, 5]

def cube(x):
  return x ** 3

print(f"Using Normal Function: {list(map(cube, l))}")

cubic_list = list(map(lambda x: x**3, l))
print(f"Using map and lambda: {cubic_list}")

element_10 = list(map(lambda x: x + 10, cubic_list))
print(f"Adding 10 to each element: {element_10}")

Using Normal Function: [1, 8, 27, 64, 125]
Using map and lambda: [1, 8, 27, 64, 125]
Adding 10 to each element: [11, 18, 37, 74, 135]

# filter(function, iterable)

In [ ]:
l = [1, 3, 4, 5, 1, 2, 7, 5, 3, 7]

print(f"Odd Number are: {list(filter(lambda x: x % 2 == 0, l))}")

print(f"Number greater than 3 are: {list(filter(lambda x: x > 3, l))}")

l = [-2, -7, 0, -3, 2, 7, 9, -3, 7, 5, -4]

print(f"Negative number are: {list(filter(lambda x: x < 0, l))}")

Odd Number are: [4, 2]
Number greater than 3 are: [4, 5, 7, 5, 7]
Negative number are: [-2, -7, -3, -3, -4]

# reduce(function, iterable)

In [ ]:
from functools import reduce

l = [1, 2, 3, 4, 5, 6, 7]

sums = reduce(lambda x, y: x + y, l)
print(sums)

name = ['Zahid', 'Salim', 'Shaikh']

concat = reduce(lambda x, y: x + ' ' + y, name)
print(concat)

28
Zahid Salim Shaikh

1. Write a lambda function to square a number, and use it to find the squares of a list of numbers using map(). - Easy

In [ ]:
lists = [1, 2, 3, 4, 5]

square = list(map(lambda x: x * x, lists))
print(square)

[1, 4, 9, 16, 25]

2. Use filter() with a lambda function to filter out all odd numbers from a list. - Medium

In [ ]:
lists = [x for x in range(100)]

filter_data = list(filter(lambda x: x % 2 != 0, lists))
print(filter_data)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

3. Using reduce() and a lambda function, find the product of all elements in a list of integers. - Medium

In [ ]:
from functools import reduce

lists = [i for i in range(1,8)]

resullt = reduce(lambda x, y: x * y, lists)
print(resullt)

5040

4. Given a list of tuples (name, score), use a lambda function with map() to increase scores by 10% for passing students only. - Medium

In [20]:
stud_list = [('qwe', 87), ('rty', 34), ('uio', 65), ('asd', 54), ('fgh', 77), ('jkl', 22), ('zxc', 12)]

filter_lambda = lambda x: x[1] > 35
filter_result = list(filter(filter_lambda, stud_list))
map_lambda = lambda x: (x[0], int((x[1] * 10)/100) + x[1])
map_result = list(map(map_lambda, filter_result))
print(f"Total Students: {len(stud_list)}")
print(f"Failed Students: {len(stud_list) - len(filter_result)}")
print(f"Passed Students: {len(filter_result)}")
print(f"Initial Score: {filter_result}")
print(f"Final Score: {map_result}")

Total Students: 7
Failed Students: 3
Passed Students: 4
Initial Score: [('qwe', 87), ('uio', 65), ('asd', 54), ('fgh', 77)]
Final Score: [('qwe', 95), ('uio', 71), ('asd', 59), ('fgh', 84)]

5. Write a complex filter using a lambda function that filters a list of dictionaries representing employees by age > 30 and salary > 50000. - Medium

In [24]:
employees = [
    {"name": "Alice", "age": 28, "salary": 48000},
    {"name": "Bob", "age": 35, "salary": 52000},
    {"name": "Charlie", "age": 40, "salary": 60000},
    {"name": "David", "age": 25, "salary": 70000},
    {"name": "Eve", "age": 32, "salary": 49000},
    {"name": "Frank", "age": 38, "salary": 75000}
]

print(list(filter(lambda x: x['age'] > 30 and x['salary'] > 50000, employees)))

# List Comprehensions [expression for item in iterable if condition]

In [46]:
squares = [x**2 for x in range(10)]
print(squares)

label = ["Even" if i % 2 == 0 else "Odd" for i in range(8)]
print(label)

matrix = [[1,2,3], [4,5,6], [7,8,9]]
em = [j for i in matrix for j in i]
print(em)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']
[1, 2, 3, 4, 5, 6, 7, 8, 9]

1. Given a list of integers, use list comprehension to create a new list containing the squares of only the odd numbers. - Medium

In [47]:
nums = [1, 2, 3, 4, 5, 6, 7]

s = [x**2 if x % 2 != 0 else x for x in nums]
s

[1, 2, 9, 4, 25, 6, 49]

In [57]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
transpose = [[matrix[r][c] for r in range(len(matrix))] for c in range(len(matrix[0]))]
print(transpose)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

2. Given two lists, use a list comprehension with zip() to create a list of tuples containing pairs of elements where the sum is even. - Hard

In [70]:
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]

m = [(i, j) for i in list1 for j in list2 if (i + j) % 2 == 0]
m

[(1, 3), (1, 5), (2, 4), (2, 6), (3, 3), (3, 5), (4, 4), (4, 6)]

In [73]:
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]

for i in list1:
  for j in list2:
    if (i + j) % 2 == 0:
      print(f"{i, j}")

(1, 3)
(1, 5)
(2, 4)
(2, 6)
(3, 3)
(3, 5)
(4, 4)
(4, 6)

# Dictionary Comprehension

In [76]:
square_dict = {x: x**2 for x in range(1, 8)}
square_dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [78]:
original_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

odd_dict = {k: v for k, v in original_dict.items() if v % 2 != 0}
odd_dict

{'a': 1, 'c': 3, 'e': 5}

In [81]:
original_dict = {'jack': 38, 'michael': 48, 'guido': 57, 'john': 33}
labels = {k: ('old' if v > 40 else 'young') for k, v in original_dict.items()}
print(labels)

{'jack': 'young', 'michael': 'old', 'guido': 'old', 'john': 'young'}

1. Given a dictionary of student names and scores, create a new dictionary mapping students to "Pass" or "Fail" based on threshold. Use dictionary comprehension with if-else. - Medium

In [82]:
student_scores = {
    "Alice": 58,
    "Bob": 27,
    "Charlie": 69,
    "David": 40,
    "Eve": 85,
    "Frank": 33
}

labels_dict = {k: ('Pass' if v > 50 else 'Fail') for k, v in student_scores.items()}
print(labels_dict)

{'Alice': 'Pass', 'Bob': 'Fail', 'Charlie': 'Pass', 'David': 'Fail', 'Eve': 'Pass', 'Frank': 'Fail'}

In [84]:
student_scores = {
    "Alice": 58,
    "Bob": 27,
    "Charlie": 69,
    "David": 40,
    "Eve": 85,
    "Frank": 33
}

for i in student_scores:
  if student_scores[i] > 50:
    print(f"{i}: Pass")
  else:
    print(f"{i}: Fail")

Alice: Pass
Bob: Fail
Charlie: Pass
David: Fail
Eve: Pass
Frank: Fail

# Error Handling

In [88]:
try:
    # Code that might cause an error
    risky_operation()
except SomeException:
    # Code to handle the error
    handle_error()
else:
    # Runs if no exception occurs
    success_code()
finally:
    # Always runs no matter what (cleanup code)
    cleanup_code()

In [91]:
try:
    x = int(input("Enter a number: "))
    result = 10 / x
except ValueError:
    print("Invalid input! Please enter a number.")
except ZeroDivisionError:
    print("Division by zero is not allowed.")
else:
    print("Result is:", result)
finally:
    print("Execution completed.")

Enter a number: 23
Result is: 0.43478260869565216
Execution completed.

1. Write a function that takes two numbers as input and returns their division result. Handle ZeroDivisionError and ValueError exceptions gracefully with informative messages. - Easy

In [93]:
def test(x, y):
  try:
    result = x / y
  except ValueError:
    print("Invalid input! Please enter a number.")
  except ZeroDivisionError:
    print("Division by zero is not allowed.")
  else:
    print("Result is:", result)
  finally:
    print("Execution completed.")

test(10, 3)

Result is: 3.3333333333333335
Execution completed.

2. Write a script that converts a list of strings to integers using a loop. Use try-except to skip over any strings that cannot be converted, logging them as errors. - Medium

In [98]:
def string2Num(string):
  for i in string:
    try:
      print(int(i))
    except ValueError:
      print(f"{i} can't be convert to integer")

string1 = "Zss@123"
string2Num(string1)

Z can't be convert to integer
s can't be convert to integer
s can't be convert to integer
@ can't be convert to integer
1
2
3

# Built in Functions
len, range, type, int, float, str, list, dict, set, tuple, zip, enumerate, map, filter, reduce, sorted, reversed, max, min, sum, abs, round, pow, all, any, dir, help, input, open, slice, getattr, hasattr, isinstance, issubclass, ord, chr, eval, exec, format, callable, id, memoryview

In [122]:
from functools import reduce

list1 = [x for x in range(1, 21, 2)] # range
print(list1)

print(len(list1)) # len
print(type(list1)) # type

print(int(786)) # int
print(float(3.142)) # float
print(str(313)) # str

print(list((1, 2, 3, 4, 5))) # list
print(tuple([1, 2, 3, 4, 5])) # tuple
print(set([1, 2, 3, 4, 5])) # set
print(dict([('a', 1), ('b', 2), ('c', 3)])) # dict

print(list(zip([1, 2, 3], ['a', 'b', 'c']))) # zip
print(list(enumerate(['a', 'b', 'c']))) # enumerate

print(list(map(lambda x: x**2, [1, 2, 3, 4, 5]))) # map
print(reduce(lambda x, y: x + y, [1, 2, 3, 4, 5])) #reduce
print(list(filter(lambda x: x % 2 == 0, [1, 2, 3, 4, 5]))) # filter

print(sorted([1, 5, 2, 3, 4])) # sorted
print(list(reversed(sorted([1, 5, 2, 3, 4])))) # reversed
print(max([1, 5, 2, 3, 4])) # max
print(min([1, 5, 2, 3, 4])) # min
print(sum([1, 2, 3, 4, 5])) # sum
print(abs(-5)) # abs
print(round(3.1428654, 3)) # round
print(pow(2, 3)) # pow

print(all([True, True, False])) # all
print(any([False, False, True])) # any

# print(dir(list1)) # dir
# print(help(list1)) # help

# getattr, hasattr, isinstance, issubclass, ord, chr, eval, exec, format, callable, id, memoryview
print(("a", "b", "c", "d", "e", "f", "g", "h")[slice(2, 7, 2)])

print(getattr(list1, '__iter__'))
print(hasattr(list1, '__iter__')

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
10
<class 'list'>
786
3.142
313
[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}
{'a': 1, 'b': 2, 'c': 3}
[(1, 'a'), (2, 'b'), (3, 'c')]
[(0, 'a'), (1, 'b'), (2, 'c')]
[1, 4, 9, 16, 25]
15
[2, 4]
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
5
1
15
5
3.143
8
False
True
('c', 'e', 'g')

# Recursion

In [3]:
def factorial(x):
  if x == 0 or x == 1:
    return 1
  else:
    return x * factorial(x - 1)

print(factorial(5))

120

In [9]:
def fibbo(x):
  if x == 0 or x == 1:
    return 1
  else:
    return fibbo(x-1) + fibbo(x-2)

fibbo(7)

21

# Decorators

In [8]:
def add_sprinkles(func):
  def wrapper(*args, **kwargs):
    print("Adding Sprinkles")
    func(*args, **kwargs)
  return wrapper

def add_fudge(func):
  def wrapper(*args, **kwargs):
    print("Adding Fudge")
    func(*args, **kwargs)
  return wrapper

def get_ice_cream(flavor):
  print(f"Here is your {flavor} icecream.")

final = add_sprinkles(add_fudge(get_ice_cream))
final("Chocolate")

Adding Sprinkles
Adding Fudge
Here is your Chocolate icecream.

In [9]:
@add_fudge
@add_sprinkles
def get_ice_cream(flavor):
  print(f"Here is your {flavor} icecream.")

get_ice_cream("Chocolate")

Adding Fudge
Adding Sprinkles
Here is your Chocolate icecream.

# Iterators & Generators

In [13]:
class TopTen:

  def __init__(self):
    self.num = 1

  def __iter__(self):
    return self

  def __next__(self):
    if self.num <= 10:
      val = self.num
      self.num += 1
      return val

    else:
      raise StopIteration


values = TopTen()

for i in values:
  print(i)

1
2
3
4
5
6
7
8
9
10

In [17]:
it = [x for x in range(1, 10)]

u = iter(it)
print(u.__next__())
print(u.__next__())
print(u.__next__())

1
2
3

1. Write a recursive function to generate all subsets (power set) of a given list. - Hard

In [27]:
listin = [1, 2, 3, 4]

def subset(x):
  emp = [[]]
  for i in x:
    emp.append(i)
  for i in range(len(x)):
    for j in range(i+1, len(x)):
      emp.append([x[i], x[j]])

  for i in range(len(x)):
    for j in range(i+1, len(x)):
      for k in range(j+1, len(x)):
        emp.append([x[i], x[j], x[k]])
  emp.append(x)
  return emp

subset(listin)

[[],
 1,
 2,
 3,
 4,
 [1, 2],
 [1, 3],
 [1, 4],
 [2, 3],
 [2, 4],
 [3, 4],
 [1, 2, 3],
 [1, 2, 4],
 [1, 3, 4],
 [2, 3, 4],
 [1, 2, 3, 4]]

In [43]:
def greet(func):
  def wrapper(*args, **kwargs):
    print("Hello")
    result = func(*args, **kwargs)
    print("Welcome")
    return result
  return wrapper

def power_set(nums):
    if len(nums) == 0:
        return [[]]
    first = nums[0]
    rest = nums[1:]
    subsets_without_first = power_set(rest)
    subsets_with_first = []
    for subset in subsets_without_first:
        subsets_with_first.append([first] + subset)

    return subsets_without_first + subsets_with_first

input  = [1, 2, 3]
result = greet(power_set)
print(result(input))

Hello
Welcome
[[], [3], [2], [2, 3], [1], [1, 3], [1, 2], [1, 2, 3]]

# Regex

1. Extract all email addresses from a plain text file. - Easy

In [51]:
import re
emails = '''
test@fh.cdh gitugibioiihj ugygfibvi uy8ugbiuo ygygiugwf e6t76586743bjnvtft ygu7ryghjbuyr6ryugbjhdftyr yt7rygljyufr67tuig test2@time.ugyu
'''

pattern = r'[a-zA-Z0-9]+[@][a-z]+[\.][a-z]+'

re.findall(pattern, emails)

['test@fh.cdh', 'test2@time.ugyu']

2. Validate if given strings are in valid date format YYYY-MM-DD - Easy

In [57]:
import re

date_list = ['2000-11-08', '328-876-29876', '13877-84367', '2025-11-24']
valid_dates = []

pattern = r'^\d{4}-\d{2}-\d{2}$'

for d in date_list:
    if re.match(pattern, d):
        valid_dates.append(d)

print(valid_dates)

['2000-11-08', '2025-11-24']

3. Extract all phone numbers from text in formats like (123) 456-7890, 123-456-7890, or 123.456.7890. - Easy